h1, h2 {
  font-family: 'Georgia', 'Times', serif;
}

p {
  color: SeaGreen;
  text-decoration: none;
}

img {
  border-radius: 100%;
}

.container {
	background-image: url("https://finalprojectmapps.000webhostapp.com/greg-becker-33629.jpg");

	background-repeat: no-repeat;

	background-size: cover;

	float: left;

	width: auto;
}